{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/datatable/css/DT_bootstrap.css" rel="stylesheet">

    <script type="text/javascript" language="javascript" src="/static/js/knockout-2.2.0.js"></script>
    <script type="text/javascript" language="javascript" src="/static/datatable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/datatable/js/DT_bootstrap.js">
    </script>

    <script type="text/javascript" language="javascript" src="/enquire/getDataTables?datatable_ids={{ csv_datatable_id }}">
    </script>
{% endblock %}
{% block content %}
<div class="data_source">
  <div class="span12">
   

    <center>
    <table width='100%'  class="table table-bordered">
        <thead>
            <tr>
                <th >Data Table</th>
                <th >Data Column</th>
                <th >Operator</th>
                <th >Data Table</th>
                <th >Data Column</th>
                <th >Remove</th>
            </tr>
        </thead>
        <tbody data-bind='foreach: lines'>
            <tr>
                <td >
                    <select style="width:100px !important;" data-bind='options: selectedDataTables, optionsText: "name", optionsCaption: "Select...", value: datatable1'> </select>
                </td>
                <td  data-bind="with: datatable1">
                    <select style="width:100px !important;" data-bind='options: datatable, optionsText: "name", optionsCaption: "Select...", value: $parent.datacolumn1'> </select>
                </td>
                <td>
                    <select data-bind="value: operation" style="width:100px !important;">
                        <option value="equals"> Equals </option>
                        <option value="greater"> Greater </option>
                        <option value="less"> Less </option>
                        <option values="contains"> Contains </option>
                    </select>

                </td>
                <td >
                    <select style="width:100px !important;" data-bind='options: selectedDataTables, optionsText: "name", optionsCaption: "Select...", value: datatable2'> </select>
                </td>
                <td  data-bind="with: datatable2">
                    <select style="width:100px !important;" data-bind='options: datatable, optionsText: "name", optionsCaption: "Select...", value: $parent.datacolumn2'> </select>
                </td>
                <td>
                    <a href='#' data-bind='click: $parent.removeLine'>Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" data-bind='click: addLine'>Add Criteria</button>
    <button class="btn btn-success" data-bind='click: save'>Run</button>
    <form class="form-horizontal" enctype="multipart/form-data" name="create_query" method="post">
        <input type="hidden" value="two" name="querystep" id="querystep" />
        <input type="hidden" value="" name="selectedTables" id="selectedTables" />
    </form>
    </center>

<script>

 
var DataLine = function() {
    var self = this;
    self.datatable1 = ko.observable();
    self.datacolumn1 = ko.observable();
    self.datatable2 = ko.observable();
    self.datacolumn2 = ko.observable();
    self.operation = ko.observable();
    // Whenever the datasource changes, reset the datatable selection
    self.datatable1.subscribe(function() {
        self.datacolumn1(undefined);
    });
    self.datatable2.subscribe(function() {
        self.datacolumn2(undefined);
    });

};
 
var Data = function() {
    // Stores an array of lines, and from these, can work out the grandTotal
    var self = this;
    self.lines = ko.observableArray([new DataLine()]); // Put one line in by default

    // Operations
    self.addLine = function() { self.lines.push(new DataLine()) };
    self.removeLine = function(line) { self.lines.remove(line) };
    self.save = function() {
        var dataToSave = $.map(self.lines(), function(line) {

            if (line.datatable1() && line.datatable2() ){
                return { 
                        datatable_id1: line.datatable1().id,
                        datatable_column1: line.datacolumn1().id,
                        operation:line.operation(),
                        datatable_id2: line.datatable2().id,
                        datatable_column2: line.datacolumn2().id
                        };
            } 
            return x
        });
        alert(JSON.stringify(dataToSave));
        //document.getElementById('selectedTables').value=(JSON.stringify(dataToSave));
        //document.forms["create_query"].submit();
        //alert("Could now send this to server: " + JSON.stringify(dataToSave));
    };
};
 
ko.applyBindings(new Data());
</script>


</div>
</div>
{% endblock %}    