{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="span6">
   <form class="form-horizontal" enctype="multipart/form-data" name="upload_data_table_form" method="post">
    <legend>Adding Data Collection to {{ data_source.data_source_name}}</legend>
    
    <div class="control-group">
     <label class="control-label" for="name">Name</label>
     <div class="controls">
    <input type="text" id="name" name="name" placeholder="Name of the data set"/>
     </div>
    </div>
     
    <div class="control-group">
     <label class="control-label" for="description">Description</label>
     <div class="controls">
    <textarea rows="3" id="description" name="description"></textarea>
     </div>
    </div>
     
     
    <div class="control-group">
     <label class="control-label" for="description">CSV File</label>
     <div class="controls">
      <input type="file" id="uploaded_csv_file" name="uploaded_csv_file" />
     </div>
    </div>

    <input type="hidden" name="data_source_id" value="{{data_source_id}}"/>
     
    <div class="form-actions">
     <button class="btn btn-danger">Cancel</button>
     <button type="submit" class="btn btn-success">Continue</button>
    </div>
   </form>
  </div>
 </div>


{% endblock %}